html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--white);
  margin: 0;
  padding: 0;
  color: var(--blue);
}

:root {
  --blue: #0088a9;
  --grey: #24252a;
  --white: #edf0f1;
}

nav {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav h2 {
  cursor: pointer;
  position: relative;
  color: var(--white);
  bottom: 10px;
  margin-top: 0;
  margin-left: 2%;
  padding: 1rem;
  background-color: var(--blue);
  border-radius: 0 0 1rem 1rem;
  transition: all 0.5s;
}

nav h2:hover {
  padding-top: 2rem;
}

nav > ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  width: 14%;
}

nav > ul li a {
  color: var(--blue);
  text-decoration: none;
}

nav > ul li {
  display: inline-block;
  margin: 0 4% 4% 4%;
}

/* -- Main -- */
form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 25%;
  background-color: white;
  height: 40vh;
  margin-top: 20vh;
  margin-left: 35%;
  box-shadow: 0 15px 30px 0 rgb(0 47 107 / 10%);
}

form h2 {
  font-size: 2.5rem;
  margin: 0.5rem;
}

form label {
  margin-top: 0.6rem;
  margin-bottom: 0.4rem;
}

form input {
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 0 5px;
  border-bottom: var(--blue) solid 2.5px;
  width: 70%;
  color: var(--blue);
}

form input::placeholder {
  opacity: 0.5;
  color: var(--blue);
}

form #Submit {
  width: 70%;
  margin: 1rem 0 1rem 0;
  height: 2rem;
  background: transparent;
  border: var(--blue) solid 2px;
  border-radius: 5px;
  color: var(--blue);
  transition: all 0.3s;
}

form #Submit:hover {
  cursor: pointer;
  opacity: 0.5;
}

#DHR__Loader {
  display: none;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url("../Images/Loading.gif") center no-repeat white;
}
