body {
  background-color: var(--white);
  margin: 0;
  padding: 0;
  color: var(--blue);
}

:root {
  --blue: #0088a9;
  --grey: #24252a;
  --white: #edf0f1;
}

nav {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav h2 {
  position: relative;
  color: var(--white);
  bottom: 10px;
  margin-top: 0;
  margin-left: 2%;
  padding: 1rem;
  background-color: var(--blue);
  border-radius: 0 0 1rem 1rem;
  transition: all 0.5s;
}

nav h2:hover {
  padding-top: 2rem;
}

nav > ul {
  margin-top: 0;
  list-style-type: none;
  width: 14%;
}

nav > ul li a {
  color: var(--blue);
  text-decoration: none;
}

nav > ul li {
  display: inline-block;
  margin: 0 4% 4% 4%;
}

/* -- Splash page -- */
.DHR__Header-SplashPage {
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position-y: -350px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://www.bnz.co.nz/assets/bnz/personal-banking/welcome-area/home-loans-welcome-area-desktop.jpg?9518642f999a31c59f25bf39448409cae58bfe64");
}

.DHR__Header-SplashPage h1 {
  position: absolute;
  top: 320px;
  color: var(--white);
  font-weight: 50;
  left: 400px;
  font-size: 3.5rem;
  width: 700px;
}

/* -- MAIN -- */
.DHR__Main-Links {
  width: 60%;
  margin-left: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.DHR__Main-Links > ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
}
.DHR__Main-Links > ul li a {
  text-decoration: none;
  color: var(--blue);
  transition: all 0.3s ease 0s;
}

.DHR__Main-Links > ul li a:hover {
  opacity: 0.7;
}

/* -- REGISTER -- */
form {
  width: 90%;
  margin-left: 5%;
  border-radius: 3rem;
  background-color: var(--blue);
}

form h2 {
  text-align: center;
  font-size: 4rem;
  color: var(--white);
}

#FirstName,
#LastName,
#Email,
#Username,
#Password {
  padding: 1rem;
  width: 50%;
  margin-left: 25%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px var(--white) solid;
  margin-top: 1rem;
  height: 1.5rem;
  border-radius: 3px;
  background-color: transparent;
  color: var(--white);
}

#FirstName::placeholder,
#LastName::placeholder,
#Email::placeholder,
#Username::placeholder,
#Password::placeholder {
  color: var(--white);
}

#submit {
  width: 40%;
  height: 2rem;
  color: var(--white);
  background-color: transparent;
  border: 2px var(--white) solid;
  margin-left: 30%;
  margin-top: 1rem;
  transition: all 0.3s ease 0s;
}

#submit:hover {
  opacity: 0.5;
  cursor: pointer;
}
